@import 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    line-height: inherit;
    vertical-align: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --main: 54, 162, 235; /* Default blue theme */
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.center { /* MAIN TITLE */
    position: fixed;
    top: 75%; /* larger = lower  */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.logo {
    width: 13vw;
}

.center h1 strong {
    font-weight: 900;
    text-shadow: 0px 0px 2vw rgba(var(--main), 0.5);
    color: rgba(var(--main), 1);
}

.center h1 {
    letter-spacing: 0.25vw;
    font-size: 5vw;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    text-shadow: 0px 0px 2vw #ffffff50;
}

.center p {
    color: #fff;
    font-weight: 800;
    font-size: 2vw;
    font-style: italic;
    letter-spacing: 0.2vw;
    margin-top: -1vw;
    text-shadow: 0px 0px 2vw #ffffff50;
}

.center p b {
    font-weight: 900;
    text-shadow: 0px 0px 2vw rgba(var(--main), 0.5);
    color: rgba(var(--main), 1);
}

.center span {
    width: 28vw;
    color: #fff;
    text-align: center;
    margin-top: 0.5vw;
    font-size: 0.75vw;
    color: #dbdbdb;
}

.loading-bar {
    position: fixed;
    bottom: 2vw;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-bar p {
    font-size: 1vw;
    color: #fff;
    margin-bottom: 0.6vw;
    font-size: 0.75vw;
    color: #dbdbdb;
}

.loading-bar .bar {
    margin-bottom: 0.4vw;
    width: 30vw;
    height: 0.3vw;
    border-radius: 100vw;
    background-color: #353535a6;
}

.loading-bar .bar .line {
    height: 100%;
    width: 0%;
    border-radius: 100vw;
    background-color: rgba(var(--main), 1);
    box-shadow: 0px 0px 2vw rgba(var(--main), 0.631);
    transition: width 1s ease;
}

.panel {
    position: fixed;
    width: 20vw;
    border-radius: 0.2vw;
    transition: 0.3s;
    color: #fff;
}

.panel h2 {
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

.panel.left { /* LEADERSHIP TEAM */
    position: fixed;
    top: 80%; /* Larger = lower */
    left: 0%;
    margin: 0px 3vw;
    transform: translate(0%, -50%);
}

.panel.right { /* TOWNSFOLK/PLAYERS */
    position: fixed;
    top: 50%;
    right: 0%;
    margin: 0px 3vw;
    transform: translate(0%, -50%);
}

.pfp {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.1vw;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    margin-top: 0.4vw;
    height: 45vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.2vw;
}

.list2 {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    margin-top: 0.4vw;
    height: 18vw;
    overflow: auto;
}

/* Custom scrollbar for player list */
.list::-webkit-scrollbar {
    width: 0.3vw;
}

.list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.15vw;
}

.list::-webkit-scrollbar-thumb {
    background: rgba(var(--main), 0.6);
    border-radius: 0.15vw;
    transition: 0.3s;
}

.list::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--main), 0.8);
}

/* Keep staff list scrollbar hidden */
.list2::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

.staff .info {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: 700;
}

.staff {
    background-color: #f9f9f90d;
    padding: 0.2vw 0.3vw;
    border-radius: 0.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    text-shadow: 0px 0px 0.5vw #000;
    box-shadow: 0.05vw 0px #e8e6e300 inset, 0px 0px 0px 0.05vw #ffffff10 inset;
    transition: 0.2s;
    background-color: rgba(var(--main), 0.08);
}

.staff .status {
    transition: 0.2s;
    color: rgba(var(--main), 1);
    font-weight: 700;
}

.loading-message {
    text-align: center;
    color: #dbdbdb;
    font-size: 0.9vw;
    padding: 1vw;
    font-style: italic;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
    .center h1 {
        font-size: 7vw;
    }
    
    .center p {
        font-size: 3vw;
    }
    
    .panel {
        width: 25vw;
    }
    
    .list {
        height: 40vw;
    }
}

@media (max-width: 768px) {
    .center {
        top: 50%;
        left: 50%;
    }
    
    .panel.left,
    .panel.right {
        display: none;
    }
    
    .loading-bar {
        bottom: 5vw;
    }
}
